[submodule "src/thirdparty/magic_enum"]
	path = src/thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "src/thirdparty/fmt"]
	path = src/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/thirdparty/imgui-sfml"]
	path = src/thirdparty/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
